<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Weatherman</a>
        </div>
        <div class="navbar-collapse collapse">
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container" data-ng-controller="HomeCtrl">
    <div class="row" data-ng-show="!loading">
        <div class="col-md-4">
            <h2><img data-ng-src="{{conditions.icon_url}}" /> <span ng-bind="conditions.display_location.full"></span></h2>
            <div class="list-group">
                <span class="list-group-item">
            Current Conditions <span class="badge" data-ng-bind="conditions.weather"></span>
                </span>
                <span class="list-group-item">
            Temperature <span class="badge" data-ng-bind="conditions.temperature_string"></span>
                </span>
                <span class="list-group-item">
            Feels Like <span class="badge" data-ng-bind="conditions.feelslike_string"></span>
                </span>
                <span class="list-group-item">
            Dewpoint <span class="badge" data-ng-bind="conditions.dewpoint_string"></span>
                </span>
                <span class="list-group-item">
            Wind <span class="badge" data-ng-bind="conditions.wind_string"></span>
                </span>
                <span class="list-group-item">
            Precipitation in Last Hour <span class="badge" data-ng-bind="conditions.precip_1hr_string"></span>
                </span>
                <span class="list-group-item">
            Humidity <span class="badge" data-ng-bind="conditions.relative_humidity"></span>
                </span>
            </div>
        </div>

    </div>
    <div class="row" data-ng-show="loading">
        <h2>Loading Weather Data...</h2>
    </div>
    <footer>
    </footer>
</div>
<!-- /container -->